<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.lixc.mapper.LoginRecordMapper">
    <resultMap id="BaseResultMap" type="com.example.lixc.entity.LoginRecord">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="user_name" property="userName" jdbcType="VARCHAR"/>
        <result column="login_ip" property="loginIp" jdbcType="VARCHAR"/>
        <result column="login_area_code" property="loginAreaCode" jdbcType="VARCHAR"/>
        <result column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="selectLoginRecord" resultType="com.example.lixc.vo.back.UserBack">
        select slr.user_id user_id ,count(slr.user_id) as count,su.*
        from sys_login_record slr left join sys_user su on
        slr.user_id = su.id
        <where>
            <if test="startTime != null and startTime != ''">
                and slr.create_time &gt;= #{startTime}
            </if>
            <if test="endTime != null and endTime != ''">
                and slr.create_time &lt;= #{endTime}
            </if>
            <if test="nickName != null and nickName != ''.toString()">
                and su.nick_name = #{nickName}
            </if>
        </where>
        group by slr.user_id
        <if test="activeCount > 0">
            having count > #{activeCount}
        </if>
    </select>
    <select id="selectLoginRecordCount" resultType="java.lang.Integer">
        select count(1)
        from sys_login_record slr
                 left join sys_user su on
            slr.user_id = su.id
    </select>
</mapper>