<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.lixc.mapper.PrivilegeMapper">
    <resultMap id="BaseResultMap" type="com.example.lixc.entity.Privilege">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="url" jdbcType="VARCHAR" property="url"/>
        <result column="type" jdbcType="INTEGER" property="type"/>
        <result column="parent" jdbcType="INTEGER" property="parent"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, name, parent
    </sql>

    <!--查询权限表 以及权限所属角色-->
    <select id="findAllPrivilege" resultType="com.example.lixc.vo.back.PrivilegeBack">
        select sp.id, sp.name, sp.parent,sp.url,sr.id,sr.name
        from sys_privledge sp left join sys_role_privledge srp on sp.id = srp.p_id
        left join sys_role sr on srp.role_id = sr.id
        where   sp.type = '2' and sr.enable='Y'

    </select>
</mapper>