<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.lixc.mapper.RolePrivledgeMapper">
    <resultMap id="BaseResultMap" type="com.example.lixc.entity.RolePrivilege">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="role_id" jdbcType="INTEGER" property="roleId"/>
        <result column="p_id" jdbcType="INTEGER" property="pId"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, role_id, p_id
    </sql>
    <delete id="deleteByRoleId" parameterType="java.lang.Integer">
        delete
        from sys_role_privledge
        where role_id = #{roleId}
    </delete>

    <delete id="deleteByRoleIdBatch">
        delete
        from sys_role_privledge
        where role_id in
        <foreach collection="array" item="index" open="(" separator="," close=")">
            #{index}
        </foreach>
    </delete>
    <select id="getRolesByPrivilegeId" resultType="com.example.lixc.entity.Role">
        select * from sys_role sr ,sys_role_privledge srp where sr.id = srp.role_id
        and sr.enable='Y'
        <if test="privilegeId >0 ">
            and srp.p_id = #{privilegeId}
        </if>
    </select>

    <select id="getPrivilegesByRoleId" resultType="com.example.lixc.entity.Privilege">
        select distinct sp.* from sys_privilege sp ,sys_role_privledge srp where sp.id = srp.p_id
        <if test="roleId >0 ">
            and srp.p_id = #{roleId}
        </if>
    </select>
</mapper>