<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.lixc.mapper.SysSuggestMapper">
    <resultMap id="BaseResultMap" type="com.example.lixc.entity.SysSuggest">
        <result column="id" property="id" jdbcType="INTEGER"/>
        <result column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="content" property="content" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="praise_num" property="praiseNum" jdbcType="INTEGER"/>
        <result column="version" property="version" jdbcType="INTEGER"/>
        <result column="priority" property="priority" jdbcType="INTEGER"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="url" property="url" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="selectForList" parameterType="com.example.lixc.vo.query.SuggestQuery"
            resultType="com.example.lixc.entity.SysSuggest">
        select * from sys_suggest
        <where>
            <if test="version > 0">
                and version = #{version}
            </if>
            <if test="userId > 0">
                and user_id = #{userId}
            </if>
            <if test="startTime ！= null  and startTime != ''">
                and create_time &gt; #{startTime}
            </if>
            <if test="endTime ！= null  and endTime != ''">
                and create_time &lt; #{endTime}
            </if>
        </where>
    </select>

    <delete id="delByIds">
        delete
        from sys_suggest where id in
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>
</mapper>