<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.lixc.mapper.SysSuggestMapper">
    <resultMap id="BaseResultMap" type="com.example.lixc.entity.SysSuggest">
        <result column="id" property="id" jdbcType="INTEGER"/>
        <result column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="content" property="content" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="praise_num" property="praiseNum" jdbcType="INTEGER"/>
        <result column="version" property="version" jdbcType="INTEGER"/>
        <result column="priority" property="priority" jdbcType="INTEGER"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="url" property="url" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="baseColumn">
        id, user_id, user_name, content, create_time, version, url, praise_num, priority, status
    </sql>
    <select id="selectForList" parameterType="com.example.lixc.vo.query.SuggestQuery"
            resultMap="BaseResultMap">
        select
        <include refid="baseColumn"/>
        from sys_suggest
        <where>
            <if test="userId > 0">
                and user_id = #{userId}
            </if>
            <if test="startTime != null ">
                and date_format(create_time,'%y-%m-%d') &gt;= date_format( #{startTime},'%y-%m-%d')
            </if>
            <if test="endTime != null ">
                and date_format(create_time,'%y-%m-%d') &lt;= date_format( #{endTime},'%y-%m-%d')
            </if>
        </where>
    </select>

    <delete id="delByIds">
        delete
        from sys_suggest where id in
        <foreach collection="array" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>
</mapper>