<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.lixc.mapper.SysUserTagMapper">
    <resultMap id="BaseResultMap" type="com.example.lixc.entity.SysUserTag">
        <result column="id" property="id" jdbcType="INTEGER"/>
        <result column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="tag_id" property="tagId" jdbcType="INTEGER"/>
    </resultMap>
    <select id="selectTagsByUserId" resultType="com.example.lixc.entity.Tag">
        select * from sys_tag st ,sys_user_tag sut where st.id = sut.tag_id
        <if test="userId > 0">
            and sut.user_id = #{userId}
        </if>
    </select>
</mapper>