<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.lixc.mapper.SysUserMessageMapper">
    <resultMap id="BaseResultMap" type="com.example.lixc.entity.SysUserMessage">
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="message_id" jdbcType="INTEGER" property="messageId"/>
        <result column="send_time" jdbcType="TIMESTAMP" property="sendTime"/>
        <result column="from_user_id" jdbcType="INTEGER" property="fromUserId"/>
        <result column="to_user_id" jdbcType="INTEGER" property="toUserId"/>
        <result column="is_read" jdbcType="CHAR" property="isRead"/>
    </resultMap>
    <select id="selectList" resultType="com.example.lixc.entity.SysUserMessage"
            parameterType="com.example.lixc.vo.query.MessageQuery">
        select id,message_id,send_time,from_user_id,to_user_id,is_read from sys_user_message sum
        <where>
            <if test="userId > 0">
                and sum.to_user_id = #{userId}
            </if>
            <if test="isRead != null and isRead != ''">
                and sum.is_read=#{isRead}
            </if>
        </where>
    </select>
    <select id="query" resultType="com.example.lixc.entity.SysMessage">
        select sm.id, sm.`content`, sm.title
        from sys_user_message sum
        left join sys_message sm on sum.message_id = sm.id
        where sm.is_delete = 'N'
        # 发送时间小于当前时间
        and sum.send_time &lt;= now()
        <if test="type > 0">
            and sm.type = #{type}
        </if>
        <if test="toUserId > 0">
            and sum.to_user_id = #{toUserId}
        </if>
        <if test="isRead != null and isRead != ''">
            and sum.is_read =#{isRead}
        </if>
    </select>
    <select id="queryCount" resultType="java.lang.Integer">
        select count(1)
        from sys_user_message sum
        left join sys_message sm on sum.message_id = sm.id
        where sm.is_delete = 'N'
        and sum.send_time &lt;= now()
        <if test="type > 0">
            and sm.type = #{type}
        </if>
        <if test="toUserId > 0">
            and sum.to_user_id = #{toUserId}
        </if>
    </select>
    <select id="queryHomeMessage" resultType="com.example.lixc.entity.SysMessage">
        select DISTINCT sm.id,
                        sm.`content`,
                        sm.title
        from sys_user_message sum
                 left join sys_message sm on sum.message_id = sm.id
        where sm.is_delete = 'N'
          and sum.send_time &lt;= now()
          and action in ('recommend', 'publish')
        order by sm.create_time desc
    </select>
</mapper>