<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.lixc.mapper.SysVersionSpoMapper">
    <resultMap id="BaseResultMap" type="com.example.lixc.entity.SysVersionSpo">
        <result column="id" property="id" jdbcType="INTEGER"/>
        <result column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="content" property="content" jdbcType="VARCHAR"/>
        <result column="publish_time" property="publishTime" jdbcType="TIMESTAMP"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="version" property="version" jdbcType="INTEGER"/>
    </resultMap>
    <resultMap id="VersionSpoBackMap" type="com.example.lixc.vo.back.VersionSpoBack">
        <result column="id" property="id" jdbcType="INTEGER"/>
        <result column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="content" property="content" jdbcType="VARCHAR"/>
        <result column="publish_time" property="publishTime" jdbcType="TIMESTAMP"/>
        <result column="nick_name" property="nickName" jdbcType="TIMESTAMP"/>
        <result column="head_image" property="healImage" jdbcType="TIMESTAMP"/>
        <result column="status" property="status" jdbcType="TIMESTAMP"/>
    </resultMap>

    <delete id="delByIds">
        delete
        from sys_version_spo where id in
        <foreach collection="array" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>
    <select id="selectForList" resultMap="VersionSpoBackMap">
        select svs.id,svs.user_id,svs.content,svs.publish_time,su.nick_name ,sua.head_image ,svs.status
        from sys_version_spo svs
        left join sys_user su on svs.user_id = su.id
        left join sys_user_attr sua on su.id = sua.user_id
        <where>
            <if test="startTime != null  ">
                and date_format(svs.create_time,'%y-%m-%d') &lt;= date_format(#{startTime},'%y-%m-%d')
            </if>
            <if test="endTime != null  ">
                and date_format(svs.create_time,'%y-%m-%d') &lt;= date_format(#{endTime},'%y-%m-%d')
            </if>
            <if test="type != null and type != ''">
                and svs.type = #{type}
            </if>
        </where>
    </select>
    <select id="detail" resultMap="VersionSpoBackMap" parameterType="java.lang.Integer">
        select id,
               user_id,
               status,
               content,
               publish_time,
               create_time,
               type,
               version
        from sys_version_spo
        where id = #{id}
    </select>
</mapper>