<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.lixc.mapper.SysVersionSpoMapper">
    <resultMap id="BaseResultMap" type="com.example.lixc.entity.SysVersionSpo">
        <result column="id" property="id" jdbcType="INTEGER"/>
        <result column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="content" property="content" jdbcType="VARCHAR"/>
        <result column="publish_time" property="publishTime" jdbcType="TIMESTAMP"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="version" property="version" jdbcType="INTEGER"/>
    </resultMap>

    <delete id="delByIds">
        delete
        from sys_version_spo where id in
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>
    <select id="selectForList" resultType="com.example.lixc.vo.back.VersionSpoBack">
        select svs.id,svs.user_id,svs.content,svs.publish_time,su.nick_name as userName from sys_version_spo svs left
        join sys_user su on svs.user_id = su.id
        <where>
            <if test="startTime != null and startTime != '' ">
                and svs.create_time &gt; #{startTime}
            </if>
            <if test="endTime != null and endTime != '' ">
                and svs.create_time &lt; #{endTime}
            </if>
            <if test="type != null and type != ''">
                and svs.type = #{type}
            </if>
        </where>
    </select>
</mapper>