<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.lixc.mapper.SysWorkDictMapper">
    <resultMap id="BaseResultMap" type="com.example.lixc.entity.SysWorkDict">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="work_id" jdbcType="INTEGER" property="workId"/>
        <result column="dict_id" jdbcType="INTEGER" property="dictId"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, work_id, dict_id
    </sql>
    <delete id="deleteTagsByWork">
        delete
        from sys_work_dict
        where work_id = #{workId}
    </delete>
    <select id="selectTagsByWork" resultType="com.example.lixc.entity.SysDict">
        select
        <include refid="Base_Column_List"/>
        from sys_dict sd ,sys_work_dict swd
        where sd.id = swd.dict_id
        <if test="workId >0 ">
            and swd.work_id = #{workId}
        </if>
    </select>
</mapper>