<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.lixc.mapper.WFavoriteMapper">
    <resultMap id="BaseResultMap" type="com.example.lixc.entity.WFavorite">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="target_id" property="targetId" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <select id="selectCountByWorkId" resultType="java.lang.Integer">
        select count(1) from w_favorite wf where type='work'
        <where>
            <if test="workId > 0">
                and wf.target_id = #{workId}
            </if>
            <if test="userId > 0">
                and wf.user_id = #{userId}
            </if>
        </where>
    </select>

</mapper>